* html {
  /* IE6 */
  font-family: 'range_2';
}
* + html {
  /* IE7 */
}
/*
@media \0screen {
  html {  // IE8
      //font-family: 'desktop'
  }
}
*/
/* Reset your font families here!
----------------------------------- */
/* Queries for supported browsers.
----------------------------------- */
body:after {
  display: none;
}
@media screen and (max-width: 319px) {
  html {
    font-family: "range_0";
  }
  body:after {
    content: "range_0";
  }
}
@media screen and (min-width: 320px) and (max-width: 589px) {
  html {
    font-family: "range_1";
  }
  body:after {
    content: "range_1";
  }
}
@media screen and (min-width: 590px) and (max-width: 722px) {
  html {
    font-family: "range_2";
  }
  body:after {
    content: "range_2";
  }
}
@media screen and (min-width: 723px) and (max-width: 939px) {
  html {
    font-family: "range_3";
  }
  body:after {
    content: "range_3";
  }
}
@media screen and (min-width: 940px) and (max-width: 1169px) {
  html {
    font-family: "range_4";
  }
  body:after {
    content: "range_4";
  }
}
@media screen and (min-width: 1170px) {
  html {
    font-family: "range_5";
  }
  body:after {
    content: "range_5";
  }
}
