/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
// background: url('/assets/img/elements/bg_gray_95x90.png');
//  .at2x('../img/elements/bg_gray_95x90.png', 95px, 90px);


body{
  overflow-x: hidden;
  color: @grayDark;
} 

h1{
	color: @blue;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .5px;
}

h2{
	color: @blue;
	font-size: 16px;
	font-weight: bold; 
	text-transform: uppercase;
	letter-spacing: .5px;
	line-height: 20px;
	margin: 25px 0 20px 0;
}

p{
	font-size: 14px;
	margin-bottom: 15px;
	a{
		color: @blueLight;
		&:hover,
		&:active{
			text-decoration: none;
			color: @blue; 
		}
	}
}

ul{
	li{
		font-size: 14px;
	}
}

a{
	color: @blueLight;
	text-decoration: none;
	&:hover,
	&:active{
		text-decoration: none;
		color: @blue; 
	}
}

*:link,
*:hover,
*:active{
	text-decoration: none;
}

*:focus {
  outline:0 !important;
}

::-webkit-input-placeholder {
    color:    @grayDark;
}
:-moz-placeholder {
    color:    @grayDark;
}
::-moz-placeholder {
    color:    @grayDark;
}
:-ms-input-placeholder {
    color:    @grayDark;
}

input::-moz-focus-inner {
  border: 0;
}
input[type="text"],
input[type="textarea"]{
	background-color: white;
	height: 40px;
	line-height: 40px;
	border: 0;
	padding: 0 15px;
	color: @grayDark;
}

.underline{
  text-decoration: underline;
}

.button{
	background-color: @green;
	color: white !important;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 6px 3px 6px;
	letter-spacing: .1px;
	&:hover,
	&:active{
		color: white;
		text-decoration:none;
		background-color: @greenDark;
	}
}

.toggle{
	right: 10px;
	top: 20px;
	position: absolute;
	min-width: 105px;
	&:after{
		background: url('../img/elements/header-downcarrot.svg') center 5px no-repeat transparent;
		content: "";
		width: 14px; 
		height: 14px;
		display: inline-block;  
		margin-left: 10px;
	}
	&.toggle-more:after{
		background: url('../img/elements/header-downcarrot.svg') center 5px no-repeat transparent;
	}
	&.toggle-less:after{
		background: url('../img/elements/header-upcarrot.svg') center 5px no-repeat transparent;
		margin-left: 13px;
	}
}

.links ul{
	margin: 0;
	padding: 0;
	li{
		list-style-type: none;
		margin: 0;
		padding: 0 0 12px 0; 
	}
}
.links a,
.link{
	color: @blueLight;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	letter-spacing: .5px;
	&:hover,
	&:active{
		color: @blue;
		text-decoration: none;
	}
}

a.call-to-action{
	background-color: @grayDark;
	color: white;
	font-weight: normal;
	font-size: 10px;
	display:block;
	text-transform: uppercase;
	padding: 15px 15px 12px 15px;
	margin: 15px 0 15px 15px;
	@media(max-width:850px){
		padding: 8px 8px 5px 8px;
		margin: 15px 10px; 
		font-size: 8px;
	}
	&:hover,
	&:active{
		background-color: @green;
		text-decoration:none;
		color: white;
	}
	strong{
		font-size: 14px;
		text-transform: none;
		@media(max-width:850px){
			font-size: 12px;
		}
	}
}

.bg-white{
	background-color: white;
}
 
.bg-gray{
	background-color: @grayLight;
}

.bg-gray-border{
	background-color: @grayLight;
	border-top: 1px solid @blue;
	margin-bottom: 20px;
	padding-bottom: 20px;
	@media(max-width:722px){
		width: 95%;
		margin-left: 2.5%;
		padding-bottom: 10px;
	}
}

.bg-blue{
	background-color: @blue;
}

.bg-green{
	background-color: @green;
}

.tag{
	text-transform: uppercase;
	font-size: 10px;
	display:block;
}

.columned-list{
	ul{
		width: 33.33% !important;
		li{
			padding-right: 30px;
		}
		@media(max-width: 722px){
			width: 100% !important;
			float: none !important;
		}
	}
}

.breadcrumbs{
	padding: 20px 0 15px 0;
	a{
		color: @blueLight;
		font-size: 12px;
		font-weight: bold;
		text-decoration:none;
		letter-spacing: .5px;
		&:hover,
		&:active{
			color: @blue;
			text-decoration: none;
		}
	}
	a:after {
    content:'\203A';
    width: 20px;
    padding-left: 5px;
  }
  a:last-child{
    &:after{
	    content: '';
	    padding-left: 0;
    }
  }
}

.search{
	@media(max-width: 722px){
		padding: 0;
		margin: 0;
		height: 60px;
		text-align: left;
	}
	.search-box-container{
		width: 97%;
		float:left;
	}
	.search-box{
		width: 100%;
		position: relative;
		z-index: 5;
		padding-right: 0;
		border: 1px solid @blue;
	}
	.search-submit{
		width: 60px;
		float:right;
		background-color: @green;
		border: 0;
		height: 40px;
		position: relative;
		margin: -40px 0 0 0;
		z-index: 9;
		&:hover{
			background-color: @greenDark;
		}
	}
}

//For Styles Guide

.color{
	border-top: 65px solid black;
	width: 65px;
	float:left;
	margin-right: 10px;
	font-size: 10px;
	text-align: center;
}

.blueLight{border-color:@blueLight;}

.blueLighter{border-color:@blueLighter;}

.blue{border-color:@blue;}

.blueDark{border-color:@blueDark;}

.blueDarker{border-color:@blueDarker;}

.grayLight{border-color: @grayLight;}

.gray{border-color:@gray;}

.grayDark{border-color:@grayDark;}

.green{border-color:@green;}

.greenDark{border-color:@greenDark;}

.greenDarker{border-color:@greenDarker;}

.orange{border-color:@orange;}

//Custom Icons --------------------

.icon{
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
}

.icon-arrow-up{
	background-image: url('../img/elements/header-uparrow.svg');
	width: 22px;
	height: 16px;
}
.icon-arrow-down{
	background-image: url('../img/elements/header-downarrow.svg');
	width: 22px;
	height: 16px;
}
.icon-caret-up-white{
	background-image: url('../img/elements/header-upcarrot.svg');
	width: 14px;
	height: 15px;
	background-position: center 5px;
	margin-left: 10px;
}
.icon-caret-down-white{
	background-image: url('../img/elements/header-downcarrot.svg');
	width: 14px;
	height: 15px;
	background-position: center 7px;
	margin-left: 5px;
}
.icon-caret-up-blue{
	background-image: url('../img/elements/header-upcarrot-blue.svg');
}
.icon-caret-down-blue{
	background-image: url('../img/elements/header-downcarrot-blue.svg');
}
.icon-email{
	background-image: url('../img/elements/footer-feedbackicon.svg');
	width: 18px;
	height: 18px;
}
.icon-help{
	background-image: url('../img/elements/header-questionmark.svg');
	width: 20px;
	height: 17px;
}
.icon-house{
	background-image: url('../img/elements/header-homeicon.svg');
	width: 22px;
	height: 22px;
}
.icon-filetype-a{
	background-image: url('../img/elements/search-officeicon-a.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-acrobat{
	background-image: url('../img/elements/search-officeicon-acrobat.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-i{
	background-image: url('../img/elements/search-officeicon-i.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-l{
	background-image: url('../img/elements/search-officeicon-l.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-n{
	background-image: url('../img/elements/search-officeicon-n.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-o{
	background-image: url('../img/elements/search-officeicon-o.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-p-green{
	background-image: url('../img/elements/search-officeicon-p-green.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-p-orange{
	background-image: url('../img/elements/search-officeicon-p-orange.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-w{
	background-image: url('../img/elements/search-officeicon-w.svg');
	width: 65px;
	height: 65px;
}
.icon-filetype-x{
	background-image: url('../img/elements/search-officeicon-x.svg');
	width: 65px;
	height: 65px;
}
.icon-nav{
	background-image: url('../img/elements/home-mobile-nav-button.svg');
	width: 20px;
	height: 20px;
}
.icon-search{
	background: url('/assets/img/elements/header-searchicon_22x19.png') center center no-repeat transparent;
	.at2x('../img/elements/header-searchicon_22x19.png', 22px, 19px);
	width: 29px;
	height: 23px;
}
.icon-settings{
	background-image: url('../img/elements/header-cog.svg');
	width: 20px;
	height: 19px;
}
.icon-social-instagram{
	background-image: url('../img/elements/footer-instagram.svg');
	width: 18px;
	height: 18px;
}
.icon-social-linkedin{
	background-image: url('../img/elements/footer-linkedin.svg');
	width: 18px;
	height: 18px;
}
.icon-social-twitter{
	background-image: url('../img/elements/footer-twitter.svg');
	width: 18px;
	height: 18px;
}
.icon-social-youtube{
	background-image: url('../img/elements/footer-youtube.svg');
	width: 18px;
	height: 18px;
}



//Header --------------------------

.utility{
	background-color: @blueLight;
	color: white;
	line-height:33px;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	border-bottom: 33px solid @grayLight;
	@media(max-width: 722px){
	  font-size: 12px;
	}
	strong{
		margin-right: 9px; 
	}
	#popup-trigger{
		color: white;
		padding: 0 10px;
		margin-left: -5px;
		display:block;
		&:hover,
		&:active{
			color: white;
			background-color: @blueDark;
			text-decoration: none;
		}
	}
	.home{
		float:left;
		padding: 4px 10px 0 10px;
		height: 33px;
		&:hover,
		&:active{
			background-color: @blueDark;
			text-decoration: none;
		}
	}
	.icon-up-arrow{
		margin: 7px 2px 0px 2px;
	}
	.icon-down-arrow{
		margin: 7px 2px -3px 2px;
	}
	.icon-settings{
		float:left; 
		margin: 7px 0 0 19px;
	}
	.icon-help{
		float:left; 
		margin: 8px 0 0 6px;
	} 
	.mobile-trigger-left,
	.mobile-trigger-right{
	  cursor: pointer;
	  font-weight: bold;
	  i{
		  margin-bottom: -5px;
	  }
	}
	.mobile-trigger-left{
	  float:left;
	  i{
		  margin-right: 13px;
	  }
	}
	.mobile-trigger-right{
	  float:right;
	  i{
		  margin-left: 13px;
	  }
	}
	ul{
		margin: 0;
		padding: 0;
		float:left;
		font-size: 14px;
		position:relative;
		li{
			list-style-type: none;
			line-height: 33px;
			margin: 0;
			padding: 0;
			font-size: 14px;
			a{
				color: white;
				display:inline-block;
				height: 33px;
				padding: 0 0 0 20px;
				width: 100%;
				&:after{
					content: "";
					background: url('../img/elements/header-downcarrot.svg') right center no-repeat transparent;
					width: 14px;
					height: 14px;
					float:right;
					margin: 9px 13px;
				}
				&:hover,
				&:active{
					color: white;
					text-decoration: none;
				}
			}
			ul{
				position: absolute;
				display:none;
				li{
					a{
						white-space: nowrap;
						padding-right: 21px;
						&:after{
							background-image: none;
						}
					}
				}//li
			}//ul
		}//li
		&:hover{
			z-index: 50;
			li{
				background-color: @blueDark;
				a{
					&:after{
						background: url('../img/elements/header-upcarrot.svg') right center no-repeat transparent;
					}
				}
				ul{
					display:block;
					li{
						background-color: @blueLight;
						&:hover{
							background-color: @blueDark;
						}
						a{
							&:after{
								background-image: none;
							}
						}
					}//li
				}//ul
			}//li
		}
	}//ul 
}//utility


body.popup-open{
	overflow-y:hidden;
}
#popup{
	width: 0px;
	height: 0px; 
	background-color: white; 
	position: fixed;
	top: 50%;
	right:50%;
	left: 50%;
	bottom: 0;
	z-index: 3000;
	overflow-y: scroll;
	padding: 50px;
	display: none;
	opacity: 0;
	.popup-inner{
		display: none;
		color: @grayDark;
	}
	#popup-close{
		color:@grayDark;
		float: right;
		&:hover,
		&:active{
			text-decoration: none;
			color: @blue;
		} 
	}
}

.banner{
	height: 80px;
	@media(max-width: 722px){
	  height: auto;
	  background: url('../img/elements/mobileheader-wavebg_723x80.jpg') center bottom no-repeat transparent;
	  .at2x('../img/elements/mobileheader-wavebg_723x80.jpg', 723px, 80px);
	  text-align:center;
	}
	object{
		margin: 16px 0 0 0;
		width: 256px;
		@media(max-width: 722px){
		  margin: 16px 0 28px 0;
		}
	}
	img{
		position: absolute;
		margin-left: -67%;
		@media(max-width: 722px){
		  display:none;
		}
	}
	div,span{
		position:relative;
		z-index: 10;
	}
	.search{
		margin: 20px 0 0 0;
		@media(max-width: 939px) and (min-width: 723px){
			padding-left: 20%;
		}
		@media(max-width: 722px){
			padding: 0;
			margin: 0;
			height: 60px;
			text-align: left;
		}
		.search-box-container{
			width: 85%;
			float:left;
			margin-left: 0;
		}
		.search-box{
			width: 88%;
			position: relative;
			z-index: 20;
			padding-right: 0;
			border: 0;
		}
		.search-submit{
			width: 15%;
			float:left;
			background-color: @green;
			border: 0;
			height: 40px;
			margin: 0;
			&:hover{
				background-color: @greenDark;
			}
		}
		ul{
			width: 100%;
			position:absolute;
			padding: 40px 0 0 0;
		  margin: -40px 0 0 0;
		  z-index: 10;
		  cursor: pointer;
		  background-color: white;
		  border-bottom: 1px solid @grayLight;
		  &:before{
				content: "";
				background: url('../img/elements/header-downcarrot-blue.svg') right center no-repeat transparent;
				width: 14px;
				height: 14px;
				float:right;
				margin: -25px 10px 0 0;
				position:relative;
				x-index: 30;
			}
			li{
			  width: 100%;
			  padding: 0;
			  margin: 0;
			  list-style-type: none;
			  line-height: 33px;
			  display:none;
			  a{
				  color: @blue;
				  height: 33px;
					padding: 0 0 0 20px;
					display:inline-block;
					width: 100%;
					&:hover,
					&:active{
						color: @blue;
						text-decoration: none;
					}
			  }//a
			  &:hover,
			  &.active{
				  background-color: @grayLight;
			  }
			  &:first-child{
				  border-top: 1px solid @grayLight;
			  }
		  }//li
		  &:hover{
			  li{
				  display:block;
			  }
			  &:before{
					background: url('../img/elements/header-upcarrot-blue.svg') right center no-repeat transparent;
				}
		  }
		}//ul
	}//search
}


.navigation{
	background-color: @blue;
	border-bottom: 5px solid green;
	@media(max-width: 722px){
		height: 0;
		ul{
			display:none;
		}
	}
	ul{
		width: 100%;
		margin: 0;
		padding:0;
		text-align: center;
		li{
			margin: 0;
			padding: 0;
			list-style-type:none;
			float:left;
			font-size: 14px;
			width: 20%;
			a{
				color: white;
				font-weight: bold;
				text-transform: uppercase;
				-webkit-font-smoothing: antialiased;
				display:block;
				padding:10px 0;
				position:relative;
				&:hover,
				&:active{
					background-color: @blueDark;
					color: white;
					text-decoration:none;
				}
			}
			&.active{
				a{
					background-color: @blueDark;
				}
			}
		}//li
	}//ul
}

.alert{
	background-color: @greenDark;
	border: 0;
	border-radius: 0; 
	padding:10px 0 9px 0;
	font-size: 16px;
	font-weight: bold;
	margin:-5px 0 0 0;
	text-transform: uppercase;
	color: white;
	text-align: center;
	letter-spacing: .5px;
	a{
		color: white;
		text-decoration: underline;
		&:hover,
		&:active{
			color: white;
		}
	}//a
	&.warning{
		background-color: @orange;
	}
}

.tagline{
	p{
		margin: -9px 0 20px 0;
		font-size: 18px;
	}	
}
span.tagline,
p.tagline{
	margin: -9px 0 20px 0;
	font-size: 18px;
	display:block;
}


// Homepage

.stories{
	a{
		color: white;
		text-transform: uppercase;
		letter-spacing: .5px;
		&:hover,
		&:active{
			color: white;
			text-decoration: none;
		}
		&:after{
	    content: ''; 
	    width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 0 8px 12px;
			border-color: transparent transparent transparent white;
			position: absolute;
			right: 15px;
			bottom: 16px;
    }
	}
	img{
		@media(max-width:900px){
			left: -10%;
		}
	}
	object{
		height: 90px;
		position:absolute;
		top: 15px;
		right: 15px;
		@media(max-width: 910px){
	    height: 80px;
    }
	}
	.story-large,
	.story-single{
		margin-right: -15px;
		height: inherit;
		overflow: hidden;
    @media(max-width: 722px){
	    padding: 0; 
	    max-height: 300px;
	    img{
		    width: 100%;
		    height: auto;
		    margin-top: -10%;
	    }
    }
		a{
			background: url('../img/elements/home-smallphoto-overlay_1x1.png') center center transparent;
			position: absolute;
			bottom: 0;
			z-index: 100;
			font-size: 24px;
			padding: 20px 100px 15px 20px; 
			margin-right: 15px;
			@media(max-width: 910px) and (min-width: 723px){
		    font-size: 22px;
	    }
	    @media(max-width: 722px){
		    margin-right: 0;
	    }
	    &:hover,
	    &:active{
		    background: url('../img/elements/home-smallphoto-overlay-hover_1x1.png') center center transparent;
	    }
		}
	}
	.story-single{
		max-height: 350px;
		padding-right: 0;
		max-width: 713px;
		@media(max-width: 722px){
			max-width: auto;
		}
		img{
			width: 100%;
		}
		a{
			width: 100%;
			&:after{
				right: 30px;
				@media(max-width: 722px){
					right: 15px;
				}
			}
		}//a
	}
	.story{
		height: 195px;
		padding: 0;
		overflow: hidden;
		a{
			height: 195px;
	    vertical-align: bottom;
	    margin: 0;
	    display: table-cell;
	    position: relative;
	    z-index: 100;
	    padding: 13px 50px 13px 20px;
	    font-size: 16px;
	    line-height: 24px;
	    @media(max-width: 910px) and (min-width: 723px){
		    font-size: 14px;
		    line-height: 20px;
	    }
	    @media(max-width: 450px){
		    font-size: 14px;
		    line-height: 20px;
	    }
		}
		img{
			position: absolute;
			z-index: 50;
		  background: url('../img/elements/home-smallphoto-overlay-hover_1x1.png') 1000px 1000px no-repeat transparent;
			margin-bottom: -195px;
			@media(max-width: 722px){
				min-width: 100%;
				min-height: 100%;
				left: 0;
			}
		}
		object{
		}
		&.bg-gray{
			background-color: @grayDark;
			&:hover{
				background-color: @gray-dark;
			}
		}
		&.bg-blue{
			background-color: @blueLight;
			&:hover{
				background-color: @blueDark;
			}
		}
		&.bg-image{
			background-color: @blueLight;
			a{
				background: url('../img/elements/home-smallphoto-overlay_1x1.png') center center transparent;
				&:hover,
		    &:active{
			    background: url('../img/elements/home-smallphoto-overlay-hover_1x1.png') center center transparent !important; 
		    }
			}
		}
	}//story
}//stories

.news{
	padding-bottom: 30px;
}

.announcements{
	.col-md-6{
		height: 75px;
		@media(max-width: 722px){
			height: auto;
			padding-bottom: 23px;
		}
	}
	.button{
		float: right;
	}
}//annoucement

.calendar{
	font-size: 14px;
	.date{
		color: @green;
		float: left;
		clear:left;
		text-align: center;
		border: 1px solid @green;
		margin: 5px 25px 23px 0;
		.month{
			font-size: 8px;
			text-transform: uppercase;
			display: block;
			background: url('../img/elements/home-calendar-gray.svg') center -7px no-repeat transparent;
			padding-top: 14px;
			width: 90%;
			margin: -3px 0 5px 5%;
		}
		.day{
			font-size: 21px;
			font-weight: bold;
			display: block;
			margin-bottom: -3px;
			border-top: 1px solid @green;
			padding: 10px 7px 0 7px;
			margin-top: -20px;
		}
	}
	.description{
		margin-bottom: 23px;
		font-size: 14px;
		padding-left: 65px;
		a{
			color: @blueLight;
			font-size: 14px;
			font-weight: bold;
			text-decoration:none;
			letter-spacing: .5px;
			&:hover,
			&:active{
				color: @blue;
				text-decoration: none;
			}
		}
	}
	.button{
		float: right;
		&:first-child{
			margin-left: 20px;
		}
	}
}//calendar

.social-corner{
	padding-bottom:30px;
	@media(max-width: 722px){
		padding-bottom: 10px;
	}
	.feed{
		background-color: @gray;
		height: 150px;
		@media(max-width: 722px){
			margin-bottom: 20px;
		}
	}
	.instagram{
		height: 150px;
		.feed{
			float:left;
			width: 80%;
		}
		.title{
			float: right;
			width: 20%;
			background-color: @grayLight;
			height: 150px;
			text-align: center;
			padding-top: 15px;
		}
		@media(max-width: 722px){
			margin-bottom: 20px;
			.feed{
				width: 90%;
			}
			.title{
				width: 10%;
			}
		}
		@media(max-width: 450px){
			margin-bottom: 20px;
			.feed{
				width: 85%;
			}
			.title{
				width: 15%;
			}
		}
	}//instagram
}

.sidebar-row{
	overflow: hidden;
	.sidebar{
		background-color: @grayLight;
		padding: 20px 20px 1000% 0;
		margin-bottom: -1000%;
		h2{
			margin: 0 0 10px 15px;
			@media(max-width: 850px){
				margin-left: 10px;
				font-size: 14px;
			}
		}
		&.links ul{
			@media(max-width: 722px){
				margin-bottom: 15px;
			}
			li{
				padding: 0;
				a{
					display:block;
				  padding: 6px 15px;
				  @media(max-width: 850px){
						padding: 6px 10px;
						font-size: 13px;
					}
					&:hover,
					&:active{
						background-color: @blueLight;
						color: white;
					}
				}
				&.active a{
					background-color: @blueLight;
					color: white;
				}
				.tag{
					padding: 0 15px;
					margin: 15px 0 -5px 0;
					 @media(max-width: 850px){
						padding: 0 10px;
					}
				}
			}//li
		}//ul
		&.links-bg-off{
			padding-left:0;
			ul{
				li{
					a{
						&:hover,
						&:active{
							background-color: transparent;
							color: @blue;
						}
					}
				}//li
			}//ul
		}
	}//sidebar
}

.content{
	padding-bottom: 10px;
	h2{
		margin: 22px 0 9px 0;
		@media(max-width: 722px){
			margin: 20px 0 17px 0;
		}
	}
	.date{
		font-size: 10px;
	}
	.figure{
		float: right;
	  margin: 0.5em;
	  width: 55%;
	  @media(max-width: 722px){
			width: 100%;
			margin: 0 0 15px 0;
			float: none;
		}
	  .caption{
		  font-style: italic;
		  font-size: 10px;
		  text-indent: 0;
		  padding: 0.5em;
		  display: block;
		  background-color: @grayLight;
	  }
	  img{
		  width: 100%;
	  }
	}
	.img{
		margin-top: 5px;
		float: right;
		padding: 0 0 15px 15px;
		@media(max-width: 850px){
			width: 50%;
		}
		@media(max-width: 722px){
			margin: 0 auto;
			display:block;
			float: none;
			width: 100%;
			padding-left: 0;
		}
	}
}

.search-navigation{
	margin-top: 20px;
	ul{
		margin: 20px 0 30px 0;	
		padding: 0 0 20px 0;
		float:left;
		clear: both;
		border-bottom: 1px solid @gray;
		width: 100%;
		@media(max-width: 722px){
			margin-top: -7px;
			padding-bottom: 15px;
		}
		li{
			list-style-type: none;
			display: inline-block;
			margin: 0;
			padding: 0 4% 0 0;
			@media(max-width: 850px) and (min-width: 723px){
				padding-right: 2%;
			}
			@media(max-width: 722px){
				padding-bottom: 11px;
			}
			a{
				color: @blueLight;
				font-weight: bold;
				font-size: 14px;
				padding-bottom: 3px;
				&:hover,
				&:active{
					text-decoration: none;
					border-bottom: 1px solid @blueLight;
					color: @blueLight;
				}
			}
			&.active a{
				border-bottom: 1px solid @blueLight;
			}
		}//li
	}//ul
}

.search-result{
	margin-bottom: 40px;
	i{
		display:block;
		float:left;
	}
	.description{
		padding-left: 85px;
	}
	h2{
		margin: 0 0 3px 0;
		a{
			color: @blue;
			&:hover,
			&:active{
				color: @blueDark;
			}
		}
	}
	p{
		margin: 0;
	}
}

.search-filter{
	h2{
		margin-top: 50px !important;
		&:first-child{
			margin-top: 100px !important;
		}
	}
}

.story-tiles{
	margin-left: 0;
	.col-md-4{
		padding-left: 0;
	}
	a{
		position:relative;
		height: inherit;
		display: block;
		margin-bottom: 15px;
		&:hover,
		&:active{
			background-color: black;
			img{
				opacity: 0.8;
			}
			span{
				background: url('../img/elements/home-smallphoto-overlay-hover_1x1.png') center center transparent;
			}
		}
	}
	img{
		width: 100%;
	}
	span{
		background: url('../img/elements/home-smallphoto-overlay_1x1.png') center center transparent;
		background-position:cover;
		position:absolute;
		color: white;
		text-transform: uppercase; 
		font-weight: bold;
		font-size: 16px; 
		bottom: 0;
		width: 100%;
		padding: 8px 10px;
		@media(max-width: 950px){
			font-size: 13px;
		}
		@media(max-width: 800px){
			font-size: 10px;
		}
		@media(max-width: 722px){
			font-size: 16px;
		}
		@media(max-width: 590px){
			font-size: 13px;
		}
		@media(max-width: 410px){
			font-size: 10px;
		}
	}
}


footer{
	.navigation{
		background-color: @blue;
		border: 0;
		ul{
			margin: 0 0 0 -15px;
			@media(max-width: 870px){
				margin: 0;
			}
			@media(max-width: 850px){
				//margin: 0;
			}
			li{
				width: auto;
				a{
					padding: 20px 16px;
					@media(max-width: 970px){
						padding: 20px 11px;
					}
					@media(max-width:870px){
						padding: 21px 4px;
						font-size: 13px; 
					}
					@media(max-width:480px){
						padding: 15px 4px;
						font-size: 12px;
					}
					@media(max-width:420px){
						padding: 10px 4px;
						font-size: 10px;
					}
					@media(max-width:350px){
						padding: 10px 4px;
						font-size: 8px;
					}
				}
			}//li
		}//ul
		@media(max-width: 722px){
			height: auto;
			ul{
				display:block;
				li{
					float: none;
					display: inline-block;
				}
			}
		}
		@media(max-width:400px){
			height: auto;
		}
	}//navigation
	.legal{
		background-color: @blueLighter;
		.container{
			background: url('../img/elements/footer-wavebg_361x60.jpg') 84% center no-repeat;
			.at2x('../img/elements/footer-wavebg_361x60.jpg', 361px, 60px); 
			@media(max-width: 722px){
				background-image: none;
				background-color: white;
			}
		}
		ul{
			margin: 0;
			padding: 0;
			text-align: center;
			li{
				list-style-type: none;
				margin: 0;
				padding: 0;
				float:left;
				@media(max-width: 722px){
					float:none;
					display:inline-block;
				}
				a{
					color: @grayDark;
					font-size: 11px;
					display:block;
					padding: 19px 20px 26px 0;
					&:hover,
					&:active{
						text-decoration: none;
						color: @green;
					}
					@media(max-width:722px){
						padding: 23px 10px;
					}
					@media(max-width:480px){
						padding: 16px 7px;
						font-size: 10px;
					}
					@media(max-width:420px){
						padding: 10px 4px;
						font-size: 9px;
					}
					@media(max-width:410px){
						font-size: 8px;
					}
				}
			}//li
		}//ul
	}//legal
	.social-ribbon{
		margin-top: -120px;
		margin-left:123px;
		@media(max-width: 722px){
			margin: inherit;
			//height: 80px;
			overflow: hidden;
		}
		@media(max-width: 540px){
			//height: 49px;
		}
		@media(max-width: 380px){
			//height: 44px;
		}
		.media{
			background-color: @gray;
			height: 120px;
			max-width: 60px;
			text-align: center;
			margin-top: 0;
			ul{
				padding:0;
				margin:0;
				li{
					list-style-type:none;
					padding: 0;
					margin: 0;
					a{
						line-height: 12px;
					}
				}//li
			}//ul
			@media(max-width: 722px){
				max-width: inherit;
				height: 80px;
				padding-top: 10px;
				li{
					display:inline-block;
					width: 22%; 
					a{
						width: 45px;
						height: 45px;
						
					}
				}
			}
			@media(max-width:540px){
				height: auto;
				padding: 2px 0 10px 0;
				li{
					width: 15%;
					a{
						width: 28px;
						height: 28px;
					}
				}
			}
			@media(max-width: 380px){
				li{
					a{
						width: 23px;
						height: 23px; 
					}
				}
			}
		}//media
		.feedback{
			background-color: @green;
			max-width: 60px;
			height: 120px;
			text-align: center;
			&:hover{
				background-color: @greenDark;
			}
			a{
				display:block;
				height: 120px;
			  color: white;
			  width: 60px;
			  margin-left: -15px;
			  @media(max-width: 830px) and (min-width: 723px){
				  margin-left: -20px;
			  }
			}
			i{
				margin: 8px 0 5px 0;
			}
			span{
				background: url('../img/elements/footer-feedbacktext.svg') center center no-repeat transparent; 
				display:block;
				height: 70px;
			}
			@media(max-width: 722px){
				max-width: inherit;
				height: 80px;
				a{
					width: 100%;
				}
				i{
					width: 45px;
					height: 45px;
					margin: 20px 0 0 15px;
					float:left; 
				}
				span{
					background-image: none;
					color: white;
					font: inherit;
					float: left;
					text-transform: uppercase;
					position:absolute;
					left: 80px;
					top: 31px;
				}
			}
			@media(max-width: 540px){
				height: 49px;
				i{
					height: 25px;
					width: 25px;
					margin: 13px 0 0 15px;
				}
				span{
					left: 55px;
					top: 15px;
				}
			}
			@media(max-width: 445px){
				i{
					height: 25px;
					width: 25px;
					margin: 13px 0 0 15px;
				}
				span{
					left: 55px;
					top: 18px;
					font-size: 11px;
				}
			}
			@media(max-width: 380px){
				height: 44px;
				i{
					height: 20px;
					width: 20px;
					margin: 12px 0 0 9px;
				}
				span{
					left: 37px;
					top: 16px;
					font-size: 10px;
				}
			}
		}//feedback
		.contact{
			background-color: @blue;
			padding: 0;
			height: 120px;
			overflow: hidden;
			@media(max-width: 540px){
				height: 90px;
			}
			object{ 
				width: 120px;
				height: 120px;
				float: left;
				background-color: #ddd;
				@media(max-width: 540px){
					width: 90px;
					height: 90px;
				}
			}
			.info{
				color: white;
				font-size: 12px;
				padding: 15px 0 0 136px;
				line-height: 18px;
				@media(max-width: 850px) and (min-width: 723px){
					padding: 5px 0 0 128px;
					font-size: 9px;
				}
				@media(max-width: 540px){
					font-size: 9px;
					line-height: 15px;
					padding: 7px 0 0 103px;
				}
			}
		}
	}//social
}//footer


//Mobile Drawer -------------------

#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-right, &.open-left{
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.mobile-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .mobile-drawer{
    background: @blue;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        ul{
	        border-top: 1px solid @blue;
	        margin-top: -1px;
	        border-bottom: 1px solid @gray-lighter;
          li{
            a{
              color: white;
              padding-left: 30px;
              font-weight: normal;
              text-transform: none;
              border-color: @blue;
            }
            &.active a{
              background-color: white;
              color: @blueLight; 
            }
          }
        }
        a{
          color: white;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @gray-lighter; 
          text-transform: uppercase;
          letter-spacing: .2px;
          text-decoration:none;
          &:hover,
          &:active{
            background-color: white;
            color: @blueLight;
            text-decoration: none;
          }
        }//a
        &.active{
          background-color: white;
          a{
            color: @blueLight;
          }
          ul{
	          border-top: 1px solid @blue;
	          margin-top:-1px;
	          li{
		          a{
			          background-color: white;
		            color: @blueLight;
		            border-color: @blue;
		            &:hover,
		            &:active{
		              color: @blue;
		            }
		          }
		          &.active a{
			          color: @blue;
		          }
	          }
          }
        }//.active
        &:last-child a{
	        border-bottom: 0;
        }
      }//li
    }//ul
    &.mobile-drawer-left{
      left: 0;
      z-index: 2;
    }//left-drawer
    &.mobile-drawer-right{
	    background: @blueLight;
	    ul{
		    li{
			    border-bottom: 1px solid @gray-lighter; 
			    a{
				    border-bottom:0;
				    padding-left: 75px;
				    &:hover,
				    &:active{
					    color: @blue;
					    font-weight: bold;
				    }
			    }
			    ul{
				    margin-bottom: -2px;
				    border-color: @blueLight;
				    li{
					    border-bottom: 0;
					    a{
						    padding-left: 95px;
						    -webkit-font-smoothing: antialiased; 
					    }
				    }
			    }
			    &.active{
				    a{
					    color: @blue; 
							font-weight: bold;
				    }
				    ul{
					    border-color: white;
					    li{
						    a{
							    &:hover,
							    &:active{
								    color: @blueLight;
							    }
						    }
						    &.active a{
							    color: @blueLight;
						    }
					    }
				    }
			    }
			    &:last-child{
		        border-bottom: 0;
	        }
		    }//li
	    }//ul
    }//right-drawer
  }//mobile-drawer
}//mobile-drawers